body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.flex-item {
  padding: 10px;
  margin: 0.5rem;
}

.flex-item img {
  width: 75px;
}

.info {
  display: inline-block;
  margin-left: 12px;
  font-size: 20px;
}

form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
